<p>
  <%= form.label :name %>
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :description %>
  <%= form.text_area :description %>
</p>
<p>
  <%= form.label :start_date %>
  <%= form.datetime_select :start_date %>
</p>
<p>
  <%= form.label :end_date %>
  <%= form.datetime_select :end_date %>
</p>