<p>
  <%= form.check_box :employment %>
  <%= form.label :employment, "Looking for Employment" %>
</p>
<p>
  <%= form.check_box :employ %>
  <%= form.label :employ, "Looking to Employ" %>
</p>
<p>
  <%= form.label :shoutout, "Shout-out!" %>
  <%= form.text_field :shoutout %>
</p>