<!DOCTYPE html>
<html>
<head>
  <title>Raor</title>
  <% if can?(:create, :Event) || can?(:create, :User) %>
    <%= javascript_include_tag "application", 'admin' %>
  <% else %>
    <%= javascript_include_tag "application" %>
  <% end %>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
