<!DOCTYPE html>
<html>
<head>
  <title>Raor</title>
  <% if browser_is?("webkit") %>
    <%= stylesheet_link_tag 'master', 'sencha-touch' %>
    <% if can?(:create, :Event) || can?(:create, :User) %>
      <%= javascript_include_tag Rails.env == "production" ? 'sencha-touch' : 'sencha-touch-debug', 'DateTimePicker', 'ext_overrides.js', 'events', 'admin', 'raor' %>
    <% else %>
      <%= javascript_include_tag Rails.env == "production" ? 'sencha-touch' : 'sencha-touch-debug', 'ext_overrides.js', 'events', 'raor' %>
    <% end %>
  <% else %>
    <%= stylesheet_link_tag 'master' %>
    <%= javascript_include_tag 'application' %>
  <% end %>
  <%= csrf_meta_tag %>
  <script language="Javascript">
    Ext.Ajax.extraParams = { authenticity_token: "<%= form_authenticity_token %>" };
    <% if can? :create, Event %>
    window.ADMIN = true;
    window.ROLES = ['<%= User::ROLES.join("','") %>'];
    <% end %>
  </script>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
