<!DOCTYPE html>
<html>
<head>
  <title>Raor</title>
  <% if browser_is?("webkit") %>
    <%= stylesheet_link_tag 'master', 'sencha-touch' %>
    <%= javascript_include_tag Rails.env == "production" ? 'sencha-touch' : 'sencha-touch-debug', 'sencha-app' %>
  <% else %>
    <%= stylesheet_link_tag 'master' %>
    <%= javascript_include_tag 'application' %>
  <% end %>
  <%= csrf_meta_tag %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
